<div class="fixed-bg">
  <mat-toolbar>
    <div class="full_width" fxLayout="row" fxLayoutAlign="space-between">
      <a class="home"  [routerLink]="['/welcome']">
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="1vw">
            <img src="assets/images/travel-icon.png" height="40px"> 
            <div>Globe Trotters</div>
          </div></a>
          <div>
              <button class="logout-btn" *ngIf="isAuth" mat-raised-button color="accent" (click)="logout()">Logout</button>
          </div>
   </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>