.mat-form-field, .mat-select, h2, h4 {
    font-family: 'Muli', sans-serif; 
 }
 
 .header {
     margin: auto;
     height: 50vh;
     width: 90vw;
     font-weight: 900;
     font-size: 3rem;
     padding-top: 200px;
     letter-spacing: 0.1em;
     text-align: center;
     text-shadow: 2px 2px 5px #333;
 }
 
 .add-bg{
     background: linear-gradient(to bottom, rgba(50,50,50,0.5), rgba(50,50,50,0.5));
     width: 100vw;
     padding-bottom: 30px;
 }
 
 .place-card{
     width: 80vw;
     margin: 0 auto;
     padding: 30px;
     font-size: 1.5rem;
     font-family: 'Smythe', sans-serif;
     text-align: left;
 }

 .type-button {
     font-size: 1.2rem;
     font-weight: 700;
 }

 .full-width {
     width: 100%;
 }
 
 .submit-button {
     width: 20vw;
 }
 
 .mat-card {
     background-color: rgba(255,255,255,0.8);
 }

 .mat-form-field {
     font-size: 1rem;
     font-family: 'Muli', sans-serif;
 }
 
 .mat-hint {
     color: red;
     font-size: 0.9em;
 }
 
 .mat-button-toggle-checked{
     background-color: rgb(255,193,7,0.8);
 }
 
 .center{
     width: 100%;
     text-align: center;
 }

 ::ng-deep .pi {
     color: #eb9605 !important;
 }

 ::ng-deep  .pi:hover {
    color: #ff7e00 !important;
}

input[disabled] {
    color: #005B96;
 }

 ::ng-deep .mat-select-disabled .mat-select-value {
      color: #005B96;
}

::ng-deep .mat-option-text {
    font-size: 0.8rem;
  }

 @media only screen and (max-width: 500px) {
    .mat-form-field {
        font-size: 1rem;
    }
    .place-card{
        font-size: 1.3rem;
    } 
   }
 
