.detail-area {
    background-color: rgb(66, 62, 59);
    height: 100%;
    min-height: 100vh;
    padding: 30px;
    color: #fff;
    font-family: "Smythe", sans-serif;
    font-size: 1.3rem;
}

.place-image {
    width: 100vw;
    min-height: 500px;
    background: url('../../../assets/images/placeholder.jpeg') no-repeat;
    background-size: contain !important;
    background-position: center !important;
}

.journey-link:hover {
    cursor: pointer;
    color: #BDA26B;
}

.place-detail {
    width: 450px;
    max-width: 100vw;
}

.detail-title {
    font-size: 3rem;
}

.detail-white {
    color: #fff;
}

.detail-country:after, .detail-journey:after, .place-description:before {
    content: " ";
    display: block; 
    width: 50%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
  }

  .mat-icon-button:hover {
    background: rgba(236, 229, 213, 0.2);				 
  }

.small {
    font-size:1rem;
    height: 20px;
    width: 20px;
}

.description-title {
    margin-bottom: 10px;
}

.place-description {
    width: 80vw;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.loading2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 130vh;
    text-align: center;
    vertical-align: center;
    color: #fff;
    z-index: 10;
    background-color: rgba(50,50,50,0.7);
  }

@media only screen and (max-width: 450px) {
    .detail-area {
        padding: 30px 0px;
    }

    .place-image {
        width: 100vw;
        min-height: 350px;
    }

    .place-detail {
        width: 350px;
        max-width: 100vw;
    }

    .detail-title {
        max-width: 100vw;
    }

    .web{
        display:none;
    }
    
}