<div class="detail-area">
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="journey">
        <div class="place-detail">
            <div class="detail-gold">Journey</div>
            <div class="detail-title">{{journey.title}}</div>
            <div fxLayoutAlign="center center" fxLayoutGap="2vw">
            <span *ngIf="journey.type == 'BEEN'" class="detail-gold" title="BEEN"><mat-icon>cloud_done</mat-icon></span>
            <span *ngIf="journey.type == 'DREAM'" class="detail-gold" title="DREAM"><mat-icon>cloud_queue</mat-icon></span>
            <div><span class="licon icon-dat"></span>{{journey.date | date: "mediumDate"}}</div>
        </div>
        </div>
        <div [style.background]="journey.url" *ngIf="journey.url" class="place-image"></div>
        <div class="place-description" *ngIf="journey.description !== ''">
            <div class="description-title detail-gold" >Memories</div>
            <div class="detail-gold" *ngIf="journey.type == 'SEEN'">Dreams</div>
            {{journey.description}}
        </div>
        <div *ngIf="places.length" class="description-title detail-gold">Map of Places</div>
        <div class="action-buttons" fxLayout="row column" fxLayoutAlign="space-evenly center">
            <div class="detail-white box-area" *ngIf="user.username == journey.owner" fxLayoutGap="1vw" fxLayoutAlign="center"
                [routerLink]="['/places/add', journey.owner]" [queryParams]="{journey: journey.id}">
                <mat-icon>add_box</mat-icon><span>Add Place</span>
            </div>
            <div class="detail-white box-area" *ngIf="places.length" fxLayoutGap="1vw" fxLayoutAlign="center"
                (click)="openJourneyMapDialog()">
                <mat-icon>map</mat-icon><span>Full Map</span></div>
            <div class="detail-white box-area" *ngIf="places.length" fxLayoutGap="1vw" fxLayoutAlign="center">
                <mat-icon>compare_arrows</mat-icon><span>Reorder Places</span></div>
        </div>
        <div fxLayout="row column" fxLayoutAlign="flex-start">
        <div *ngIf="places.length" class="map-image"><img [src]="'/api/journey/map/'+journey.id" style='height: 100%; width: 100%; object-fit: contain'></div>
        <div *ngIf="places.length"  class="map-legend">
            <div *ngFor="let p of places">
                <div class="legend-entries" [routerLink]="['/place/',p.id]">
                    <div fxLayout="row" fxLayoutGap="2vw">
                    <div class="box-alpha" fxLayoutAlign="center center">{{p.alpha}}</div>
                    <span class="legend-title">{{p.title}}</span>
                    <div class="star-area" fxLayout="column" fxLayoutAlign="space-evenly">
                        <div><span *ngFor="let h of ' '.repeat(p.rating).split('')" class="licon icon-love"></span></div>
                        <div><span class="detail-gold">{{p.date | date: "mediumDate"}}</span></div>
                    </div>
    
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>