.detail-area {
    background-color: rgb(66, 62, 59);
    height: 100%;
    min-height: 100vh;
    padding: 30px;
    color: #fff;
    font-family: "Smythe", sans-serif;
    font-size: 1.3rem;
}

.place-image {
    width: 100vw;
    min-height: 500px;
    background: url('../../assets/images/globe-background.jpg') no-repeat;
    background-size: contain !important;
    background-position: center !important;
}

.place-detail {
    padding: 15px;
    min-width: 450px;
}

.detail-title {
    font-size: 3rem;
}

.detail-gold {
   color: #BDA26B;
}

.detail-white {
    color: #fff;
}

.detail-title:after, .detail-journey:after, .place-description:before {
    content: " ";
    display: block; 
    width: 50%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
  }

  .mat-icon-button:hover {
    background: rgba(236, 229, 213, 0.2);				 
  }

.small {
    font-size:1rem;
    height: 20px;
    width: 20px;
}

.description-title {
    margin-bottom: 10px;
}

.place-description {
    width: 80vw;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

@media only screen and (max-width: 450px) {
    .detail-area {
        padding: 30px 0px;
    }

    .place-image {
        width: 100vw;
        min-height: 350px;
    }

    .place-detail {
        min-width: unset;
        width: 100vw;
    }

    .detail-title {
    }
    
}