<div class="add-bg">
<div class="headertext">Add a Place</div>
<div class="place-form">
    <mat-card class="place-card">
        
        <form [formGroup]="placeForm" (ngSubmit)="onSubmit(placeForm)">
            <div  fxLayout="column" fxLayoutGap="2vw">
            Find Your Place:
            <app-autocomplete #auto (setPlaceString)="getPlace($event)"></app-autocomplete>
        <mat-form-field class="full-width">
                <input matInput placeholder="Place Name" formControlName="title">
                <mat-hint *ngIf="placeForm.touched && !this.placeForm.getRawValue().title">
                    Please choose a Location above</mat-hint>
                <!-- <mat-error *ngIf="placeForm.touched && !!f.title.hasError('maxlength')">
                        Title should not exceed 250 characters</mat-error> -->
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" name="food">
              <mat-option *ngFor="let c of countries" [value]="c.code"> {{c.name}} </mat-option>
            </mat-select>
            <!-- <mat-hint *ngIf="placeForm.touched && !!f.country.hasError('required')">
                Please input a Country</mat-hint> -->
          </mat-form-field>

            <div class="center">
            <mat-button-toggle-group formControlName="type"> 
                <mat-button-toggle value="BEEN" class="smythe type-button">I Have Been Here!</mat-button-toggle>
                <mat-button-toggle value="DREAM" class="smythe type-button">Dreaming About It!</mat-button-toggle>
            </mat-button-toggle-group></div>
        
          <label for="placeImage">Upload an Image:</label>
          <input placeholder="image" type="file" accept='image/*' (change)="preview(imageFile.files)" name="placeImage" id="artImage" class="muli" #imageFile>
          <span style="color:red;" *ngIf="message">{{message}}</span>
          <img [src]="imgURL" width="100%" *ngIf="imgURL">
          <br>
        Fill in Details:
        <mat-form-field class="full-width">
            <input matInput readonly [matDatepicker]="date" (focus)="date.open()" [max]="today" placeholder="{{ f.type.value == 'BEEN' ? 'Date Visited' : 'Planned Date'}}" formControlName="date" >
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <button mat-button *ngIf="f.date.value" matSuffix mat-icon-button (click)="f.date.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
        
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="2vw">
            <span class="muli" style="font-size:1rem">Rating: </span>
            <p-rating formControlName="rating" stars=5 iconOnClass="pi pi-star"></p-rating>
        </div>

        <mat-form-field  class="full-width">
            <textarea matInput rows="5" placeholder="{{ f.type.value == 'BEEN' ? 'Share your Experience' : 'Make Plans'}}" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field  class="full-width">
            <textarea matInput rows="5" placeholder="Private Notes" formControlName="private"></textarea>
            <mat-hint style="color:#000">
                This field is only viewable to you</mat-hint>  
        </mat-form-field>
        
        <div fxLayout="row column" fxLayoutAlign="space-evenly" fxLayoutGap="2vw">
        <button mat-raised-button color="warn" type="reset">Reset</button>
        <button mat-raised-button color="accent" type="submit" [disabled]="!this.placeForm.getRawValue().title">Create</button>
    </div>
        </div>
        </form>
    </mat-card>
</div>
</div>

