.place-bg {
    background-image: linear-gradient(rgba(50,50,50,0.6), rgba(50,50,50,0.6)), url('../../assets/images/beach-background.jpg');
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 40px);
    padding-bottom: 30px;
}

.place-area{
    background: linear-gradient(to bottom, rgba(50,50,50,0.5), rgba(50,50,50,0.3));
}

::ng-deep .search-form .mat-form-field, ::ng-deep .search-form .mat-form-field-label  {
  min-width: 280px;
  color: #fff !important;
  font-family: 'Muli', sans-serif;
  font-size: 1.1rem;
}
::ng-deep .search-form .mat-form-field-ripple, ::ng-deep .search-form .mat-focused .mat-form-field-appearance-legacy .mat-form-field-underline , 
::ng-deep .search-form .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #fff !important;
}

.results-area {
  margin-top: 30px;
}

.place-card-b {
    width: 300px;
    min-height: 300px;
    margin: 20px;
    position: relative;
    color: #fff;
    font-family: 'Smythe', sans-serif;
    font-size: 1.1rem;
    box-shadow: 2px 2px 8px 1px #aaa;
    text-align: center;
    cursor: pointer;
    background: url('../../assets/images/globe-background.jpg') no-repeat;
    background-size: cover !important;
    background-position: center !important;
}


@media only screen and (min-width: 450px) {
.place-card-b:hover .overlay {
    background: linear-gradient(to bottom, rgba(50,50,50,0),rgba(0,0,0,1));
    height: 100%;
    transition:all 0.2s;
  }
  .place-card-b:hover .card-title{
    bottom: 150px;
  }

  .place-card-b:hover .card-info {
    bottom: 130px;
    opacity: 1;
}

.place-card-b:hover .card-title:after{
     animation: changeLetter 0.3s 1 linear;
    width:80%
  }

  .card-title:after {
    content: " ";
    display: block; 
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
  }

  @keyframes changeLetter {
    0% {
      width: 10%;
    }
    100% {
      width: 80%;
    }
  }
}

.overlay {
    position: absolute;
    background: linear-gradient(to bottom, rgba(50,50,50,0), rgba(20,20,20,0.7), rgba(0,0,0,1));
    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0;
}

.card-info {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 220px;
    margin-left: -110px;
    opacity: 0;
    transition:all 0.6s;
    text-shadow: 2px 2px 4px #000000;

    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.3rem;
    line-height: 1.1rem;
}


.info-title {
    color: #BDA26B;
    font-size: 0.9rem;
    text-shadow: 3px 3px 4px #000000;
}

.card-subtitle a {
    color: #ddd;
}

 .card-subtitle a:hover {
  color: #BDA26B;
}

.card-title {
    font-size: 1.5rem;
    position: absolute;
    bottom: 90px;
    left: 0;
    width: 100%;
    padding: 0px 15px;
    transition: all 0.6s;
    text-shadow: 2px 2px 4px #000000;
}

.card-subtitle {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #BDA26B;
    text-shadow: 2px 2px 4px #000000;
}

.icon-area {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

.button-area {
  width: 50%;
  margin: 0 auto;
}

.count-area {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0px 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.mat-raised-button {
  border: 2px solid #fff;
  background: rgba(255,193,7,0.7);
  font-weight: 700;
  font-family: 'Muli', sans-serif;
  margin-right: 10px;
}

.mat-raised-button:hover:not([disabled]) {
  background: rgba(255,255,255,0.4);
  background: rgba(255,193,7,1);
  border: 2px solid #ffc107;
  border: 2px solid #fff;
}

.mobile {
  display: none;
}

.web {
  display: block;
}

.white {
  color: #fff;
}


.detail-gold {
  color: #BDA26B;
}

@media only screen and (max-width: 450px) {
    .place-card-b {
        width: 100vw;
        min-height: 200px;
        max-height: 200px;
        margin: 0px;
        margin-bottom: 20px;
    }

    .card-title {
      bottom: 110px;
    }

    .count-area {
      display:none;
    }

    .mobile {
      display: block;
    }
    
    .web {
      display: none;
    }
   }
 