<div class="welcome-container"> 
<!--
<button mat-raised-button color="accent" (click)="addPlace()">Add a Place</button>
<button mat-raised-button color="accent" (click)="getPlacesList()">Places I've Been</button>
<button mat-raised-button color="accent" (click)="getJourneysList()">Journeys</button> -->
<div class="header">Globe Trotters<br></div>
    <div class="map-bg">
        <div fxLayout="row" class="menu-area">
        <div class="menu-box" fxLayoutAlign="center center" >
                <span>Add Journey</span></div>
        <div class="menu-box" fxLayoutAlign="center center" >
                <span>Add Place</span></div>   
        <div class="menu-box" fxLayoutAlign="center center" >
                <span>Journeys</span></div>
        <div class="menu-box" fxLayoutAlign="center center" >
                <span>Places</span></div>         
        </div>
        <div fxLayout="row" class="info-area" *ngIf="resp">
                <div class="info-box" fxLayoutAlign="center center" >
                        <span>Welcome<br>Sandy!</span></div>
                <div class="info-box" fxLayoutAlign="center center" >
                    <span class="large-num">{{resp.countryCount}}</span>
                    <span>countries visited</span></div>
                <div class="info-box" fxLayoutAlign="center center" >
                        <span class="large-num">{{resp.journeyCount}}</span>
                        <span>journeys taken</span></div>
                <div class="info-box" fxLayoutAlign="center center" >
                        <span class="large-num">{{resp.placesCount}}</span>
                        <span>places travelled</span></div>

            </div>
        <div id="world-map" class="maparea"></div>

    </div>
</div>