.search-box {
    padding: 12px 20px; 
    font-family: 'Muli', sans-serif; 
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 90%;
}

@media only screen and (max-width: 500px) {
    .search-box {
       font-size: 1rem;
    }
    
   }