/* You can add global styles to this file, and also import other style files */

html, body { 
    scroll-behavior: smooth;
    margin: 0;
	padding: 0;
    border: 0;
    position: absolute;
	font: inherit;
    vertical-align: baseline;
    overflow-x: hidden !important;
    overflow-y: auto;
    width: 100vw !important;
}

.inspect {
  border: 1px solid #f00 !important;
}

body {
    font-family: 'Smythe', sans-serif;
    background-color:#000;
    font-size: 10px;
}

.headertext {
    background-image: linear-gradient(rgba(50,100,150,0.9), rgba(255,255,255,0));
    padding: 15px 0px;
    font-size: 4rem;
    color: #fff;
    font-family: 'Smythe', sans-serif;   
    text-shadow: 2px 3px 3px #555;
    letter-spacing: 2px;
}

.muli {
    font-family: 'Muli', sans-serif;
}

.smythe {
    font-family: 'Smythe', sans-serif;
    font-size: 1.5rem;
}

/* below icons and some styling inspired by https://codepen.io/nodws/pen/ZpZjpQ?editors=0100#0 */
.licon{
    position:relative;  
     width:23px;
     height:15px;
     display:inline-block;
     vertical-align:middle;
  }
  .licon:before{
    content:"";
     background:url(/assets/images/licons.svg?) -2px -6px no-repeat;
     background-size:250px;
     width:26px;
     height:20px;
     display:inline-block;
     vertical-align:middle;
     position:absolute;
     top:-3px;
     left:0;
  }
  .icon-white{
     filter: brightness(10);
  }
  .icon-black{
     filter: brightness(0);
     opacity:0.6
  }
  .icon-like:before{
    background-position: -183px -6px;
  
  }
  .icon-com:before{
    background-position: -63px -4px;
  
  }
  .icon-love:before{
      background-position: -124px -7px;
    }
  .icon-dat:before{
    background-position: -94px -7px;
  }
  .icon-tag:before{
    background-position: -33px -6px;
  
  }
  
  .box-area {
    border: 1px solid #555;
    padding: 10px;
    margin: 5px;
    max-width: 170px;
    margin: 5px auto;
  }

 
  .box-area-2 {
    border: 1px solid #555;
    padding: 10px;
    margin: 5px;
    width: 250px;
    max-width: 90vw;
    margin: 5px auto;
  }

  .box-area:hover, .box-area-2:hover {
    cursor: pointer;
    background: #555;
  }

  .action-buttons {
    max-width: 900px;
  }

 .loading {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100vw;
   height: 110vh;
   text-align: center;
   vertical-align: center;
   color: #fff;
   background-color: rgba(50,50,50,0.7);
 }

@media only screen and (max-width: 450px) {
    .headertext {
       font-size: 3rem;
    }
}
